/*
 * menu.css v0.11.0 
 * Update : 2019.11.08
 * Author : JiYoul.Choi
*/

.main-menu .logo-image{
    margin: 0px;
    border: none;
    color: rgb(53, 53, 53);
    border-right: 1px solid rgb(121, 99, 0);
    text-align: center;
}

.main-menu{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    position: fixed;
    width: 100%;
    z-index: 1000;
    font-family: 'Stylish', sans-serif;
    height: 55px;
    background: rgb(255, 187, 0);   
    list-style: none;
}
.main-menu li{
    background: rgb(255, 187, 0);
    padding: 10px 10px 10px 10px;
    width: 120px;
    height: 35px;

    float: left;
    font-size: 30px;
    border-right: 1px solid rgb(121, 99, 0);
}
.main-menu li a{
    font-size: 30px;
    color: rgb(255, 46, 133);
    font-weight: bold;
    text-decoration: none;

    display: block;
    padding: 0px;
    text-align: center;

}
.main-menu li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}

.main-menu .sub-menu{
    margin: 10px 10px 10px -10px;
    padding: 0px;
    list-style-type: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    border-right: none;

}

.main-menu .sub-menu li{
    float: none;
    background: rgb(255, 208, 105);
    border-bottom: 1px solid  rgb(121, 99, 0);
    border-right: none;
    text-align: center;
    padding: 15px 10px 5px 10px;
}
.main-menu .sub-menu li a{
    color: #fff;
    font-size: 20px;
    padding: 0px;
    text-align: center;
}


.main-menu .sub-menu .sub-finish{
    border-bottom: none;
}