/*
 * main.css v0.5.0 
 * Update : 2019.09.20
 * Author : JiYoul.Choi
*/
ul{
    height: 30px;
    background: rgb(11, 0, 110);
    list-style: none;
    padding-top: 15px;
}
ul li{
    float: left;
    margin-right: 60px;
    font-size: 16px;
    color: white;
    font-weight: bold;
}
ul li a{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
article{
    text-align:center;
    padding-bottom: 50px;
}
section{
    text-align:center;

}

.box-t {
    line-height: 50px;
    text-align:center;
    display: inline-block;
    list-style: none;
    margin: 10px;
    padding: 10px;
    width: 10%;
    height: 50%;
    border: 1px solid black;
    color: red;
    background-color: palevioletred
}
.section1{
    background-color: blueviolet;
}
.article-2nd-bg{
    text-align: center;
    background-color: aqua;
}
.article-3rd-bg{
    text-align: center;
    background-color: greenyellow;
}
.article-4th-bg{
    text-align: center;
    background-color: salmon;
}
.article-5th-bg{
    text-align: center;
    background-color: wheat;
}
.article-6th-bg{
    text-align: center;
    background-color: royalblue;
}
.image-cropper-50{
    height: 200px;
    margin: 15px;
    width: 150px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}
.image-cropper-25{
    height: 200px;
    margin: 15px;
    width: 150px;
    -webkit-border-radius:25%;
    -moz-border-radius:25%;
    -ms-border-radius:25%;
    -o-border-radius:25%;
    border-radius:25%;
}
.image-cropper-5{
    height: 200px;
    margin: 15px;
    width: 150px;
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
    border-radius:5%;
}
table{
    margin: 0% auto;
}

div {
    width: 100%;
    height: 500px;
    border: 1px solid #000;
}

div.left {
    width: 50%;
    float: left;
    box-sizing: border-box; 
    background-image: url(https://3.bp.blogspot.com/-R--B1fo7MCQ/XBuqzzumRAI/AAAAAAABU3s/D3B8_Kwh1bwCci-zEkbm7N9bA-zs704kwCLcBGAs/s1600/Honeycam%2B2018-12-20%2B23-44-08.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.left p{
    color: red;
    display: block;
   margin-top: 250px;
   text-align:right;
}
div.right {
    width: 50%;
    float: right;
    box-sizing: border-box;
    background-image: url(https://fimg4.pann.com/new/download.jsp?FileID=47081920);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.right p{
    color: blue;
    display: block;
   margin-top: 250px;
   text-align:left;
}
